version: '3.9'

services:
  backend:
    build:
      context: ./backend
      dockerfile: ${DOCKERFILE:-Dockerfile.dev}
    container_name: offline-backend
    working_dir: /app
    volumes:
      - ./backend:/app
    ports:
      - "8080:8080"
    command: ["air"]
    depends_on:
      - frontend

  frontend:
    build: ./frontend
    container_name: offline-frontend
    volumes:
      - ./frontend:/app
    ports:
      - "3000:80"
